<div class="game-field">
    <div class="info-panel-general">
        <p>level {{level}}</p>
    </div>
    <div class="info-panel-player">
        <div>
            <h2>Player {{playerName}} health = {{playerHealth}} </h2>
        </div>
    </div>
    <div class="info-panel-monster">
        <div>
            <h2> {{monsterName}} health = {{monsterHealth}}</h2>
        </div>
    </div>
    <div class="player-field">
        <img class="kick-img" @kick-player *ngIf="kickPlayer" src="./assets/img/fire-ball.png">
        <img class="monster-img" src="./assets/img/monster2.png" alt="Moster Player">
    </div>
    <div class="monster-field">
        <img class="monster-img" src={{activeMonsterPict}} alt="Moster Enemy">
        <img class="kick-img" @kick-monster *ngIf="kickMonster" src="./assets/img/fire-ball.png">
    </div>
    <div class="footer-panel">
        <button (click)="openDialog()">Fight</button>
    </div>
</div>
