.game-field {
    display: grid;
    grid-template-rows: 10% 20% 60% 10%;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    justify-items: center;
}

h2 {
    color: brown;
}


.info-panel-general {
    grid-row: 1; 
    grid-column: 1 / span 2;
}

.info-panel-player {
    grid-row: 2; 
    grid-column: 1;
}

.info-panel-monster {
    grid-row: 2; 
    grid-column: 2;
}
.footer-panel {
    grid-row: 4; 
    grid-column: 1 / span 2;
}

.player-field {
    grid-row: 3; 
    grid-column: 1;
}

.monster-field {
    grid-row: 3; 
    grid-column: 2;
}

.kick-img {
    opacity: 0;
}