body {
  background-image: url(/public/assets/red_mountains_img.png?);
  background-size: cover;
}

button {
  background-color: black;
  color: white;
  margin: 5px;
}

button:hover {
  background-color: grey;
  color: black;
}

.container {
  border-style: dashed;
  border-width: 2px;
  border-color: burlywood;
  color: black;
  margin: 20px;
}

p {
  font-size: 20px;
  color: rgb(255, 153, 0);
}

mat-dialog-container[id^="mat-dialog-"] {
  position: absolute;
  top: 50%;
  padding: 0;
  width: 50%;
  height: 80px;
}
