<div class="landing">
    <div>
        <h1>MindHit Game</h1>
    </div>
    <div>
        <h2>Game for children of 6-8 years old.</h2>
        <p>For training Arithmetical and English translation skills</p>
    </div>
    <div class="start-game-button">
        <button (click)="startGame()">Start Game</button>
    </div>
    <div class="rules">
        <h3>Rules:</h3>
        <p>1. Press Fight button to select a spell</p>
        <p>2. Solve a task to kill monster</p>
        <p>3. By "Ctrl" keybord button on main-scene you can change the screen</p>
    </div>
    <div>
        <h2>Screenshots:</h2>
        <div class="game-screens">
            <figure>
                <img src="./assets/img/screen-main.png" width="100%" height="auto" alt="main scene screen">
                <figcaption>main scene screen</figcaption>
            </figure>
            <figure>
                <img src="./assets/img/screen-spell.png" width="100%" height="auto" alt="select spell screen">
                <figcaption>spell screen</figcaption>
             </figure>
            <figure>
               <img src="/assets/img/screen-results.png" width="100%" height="auto" alt="results screen" >
               <figcaption>results screen</figcaption>
             </figure>
        </div>
    </div>
    <div>
        <h3>Made by @YuliyaHlukhatarenka</h3>
    </div>
</div>
