<div class="landing">
    <div>
        <h1>Tio-Tam Game</h1>
    </div>
    <div>
        <h2>Developing game for children of 6-8 years old.</h2>
    </div>
    <div>
        <h2>Work with skills:</h2>
        <p>Arithmetical exercises</p>
        <p>English translation practice</p>
        <p>English written trainings</p>
    </div>
    <div>
        <input type="text" [(ngModel)]="enteredName" placeholder="Enter your name" />
        <input type="email" [(ngModel)]="enteredEmail" placeholder="Enter email" required />
    </div>
    <div class="start-game-button">
        <button (click)="startGame()">Start Game</button>
    </div>
    <div>
        <h3>Made by @YuYu</h3>
    </div>
</div>